[Unit]
Description=Create a Shop Gate backup every six hours

[Timer]
OnCalendar=*-*-* 00/6:10:00 Asia/Shanghai
Persistent=true
RandomizedDelaySec=10m
Unit=shopgate-backup.service

[Install]
WantedBy=timers.target
